body {
  width: 100%;
  margin: 0;
}

.player-card {
  min-height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-bottom: 30px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  background-color: #7f817f;
  position: relative;
  opacity: 50%;
}

.box::before,
.box::after {
  content: "";
  position: absolute;
  background: rgb(56, 56, 56);
}

.box::before {
  width: 100%;
  height: 1px;
  top: 50%;
  left: 0;
}

.box::after {
  height: 100%;
  width: 2px;
  left: 50%;
  top: 0;
}

.box {
  background:
    linear-gradient(45deg, transparent 49.8%, black 50%, transparent 50.2%),
    linear-gradient(-45deg, transparent 49.8%, black 50%, transparent 50.2%),
    #7f817f;
}

.circle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgb(212, 212, 212);
  border-radius: 50%;
}

.top-left {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.top-right {
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.bottom-left {
  bottom: 0;
  left: 0;
  transform: translate(-60%, 60%);
}

.bottom-right {
  bottom: 0;
  right: 1%;
  transform: translate(60%, 60%);
}

.top-center {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.bottom-center {
  bottom: 0;
  right: 50%;
  transform: translate(55%, 60%);
  z-index: 1;
}

.left-center {
  right: 101%;
  transform: translate(55%, 60%);
  left: -7%;
  top: 43%;
}

.right-center {
  top: 43%;
  left: 93%;
  transform: translate(55%, 60%);
}

.mid {
  top: 43%;
  left: 43%;
  transform: translate(55%, 60%);
  z-index: 1;
}

.selected-circle {
  position: absolute;
  width: 40px;
  height: 40px;
  /* background-color: rgb(212, 212, 212); */
  border-radius: 50%;
}

/* Full-page overlay */
.modal-overlay {
  position: fixed; /* Stay on top */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* High z-index to overlay other content */
}

/* Modal box */
.modal-content {
  background-color: #575857;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  height: "auto";
  max-width: 90%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1001; /* Higher than overlay for proper stacking */
}

/* main page style */

.info-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #232323;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  box-sizing: border-box;
}

/* Styling for the form and form controls */
.user-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  margin-bottom: 20px;
}

.user-form label {
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
}

input,
select {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #727272;
  font-size: 14px;
  margin-top: 5px;
}

/* input[type="text"] {
  background-color: #f9f9f9;
}

select {
  background-color: #f9f9f9;
} */

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* Error message styling */
.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

/* Color circle styling for the select options */
select option {
  display: flex;
  align-items: center;
  padding: 8px;
}

.color-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.color-circle {
  width: 50px;
  height: 50px; /* Height of the circle */
  border-radius: 50%; /* This makes the div a circle */
}

/* Responsive styling */
@media (max-width: 600px) {
  .info-card {
    width: 90%;
  }
}

.score-board {
  border: 1px solid #ffffff;
  padding: 10px 5px 5px 10px;
  text-align: center;
  width: 50%;
}

/* For small screens */
@media (max-width: 768px) {
  .score-board {
    width: 100%;
  }
}
.score-table {
  width: 100%;
  border-collapse: collapse;
}

.score-table th,
.score-table td {
  padding: 6px;
  text-align: center;
}

.score-table td {
  border-top: 1px solid #ffffff;
}
.score-table-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
